<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <link rel="stylesheet" href="http://localhost:8000/styles/main.css">
</head>
<body>
    <form name="setInfo">
        <input name="clientData" id="clientId" placeholder="enter numbers: 1,2,3...">
        <button type="submit">Get planet</button>
    </form>
    <div class="clientResult"></div>

    <script src="/js/mainClient.js"></script>
</body>
</html>